* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-white);
    font-family: "Montserrat Alternates", cursive;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    background-color: var(--color-black);
}

input {
    background-color: transparent;
    border: none;
    outline: none;
}

button {
    background-color: transparent;
    border: none;
}

.div-title {
    display: flex;
    align-items: center;
    gap: .8rem;
    position: fixed;
    top: 0;
    padding: 1rem 2rem;
    width: 100%;
    background-color: var(--color-black);
}

.div-chat-messages {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
    padding-top: 3rem;
    padding-bottom: 20rem;
    flex: 1;
    width: 40rem;
    max-width: 80%;
}

.div-message-field {
    display: flex;
    width: 100%;
    padding: 0 .8rem;
}

.div-message-field-response {
    display: flex;
    justify-content: flex-start;
}

.div-message-field-query {
    display: flex;
    justify-content: flex-end;
}

.div-message {
    background-color: var(--color-dark-gray);
    width: fit-content;
    max-width: 100%;
    padding: .8rem 1.5rem;
    overflow-x: scroll;
    border-radius: .8rem;
}

.div-message>p {
    overflow-wrap: normal;
    word-wrap: break-word;
}

.div-message-query {
    border-radius: 1rem 0.2rem 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.div-message-query img {
    width: 5rem;
    border-radius: 1rem;
}

.div-message-query-attachment {
    display: flex;
    justify-content: flex-end;
}

.div-message-response {
    display: flex;
    flex-direction: column;
    border-radius: .2rem 1rem 1rem 2rem;
    background-color: transparent;
    border: var(--color-light-green) solid 1px;
}

.div-chat-icon {
    width: 2rem;
    margin-right: .5rem;
}

.div-chat-icon img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    display: block;
}


.form-input-field {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 2rem;
    padding: 1rem;
    gap: 1rem;
    width: 90%;
    max-width: 45rem;
    border-radius: 1rem;
    border: var(--color-dark-gray) solid 1px;
    background-color: var(--color-black);
    outline: var(--color-black) solid 2rem;
}

.div-attachment-icon {
    display: flex;
    gap: .5rem;
    width: 100%;
    max-height: 5rem;
    overflow: scroll;
}

.div-attachment-icon::-webkit-scrollbar {
    display: none;
}

.div-attachment-icon img {
    height: 100%;
    width: 5rem;
    display: block;
    border-radius: .5rem;
}

.div-attachment-field {
    display: flex;
    justify-content: space-between;
}

.div-attachment-field input {
    display: none;
}

.div-attachment-field label:hover {
    color: var(--color-light-green);
}

@media screen and (max-width: 425px) {
    .div-title {
        justify-content: center;
    }

    .div-chat-icon {
        display: none;
    }
}